@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --dark-blue: #23364B;
    --metal: #9AAAB7;
    --gray: #547787;
    --blue: #2987C5;
    --orange: #F36428;
    --darker-gray: #365670;
    --light-gray: #CCC;
    --white: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--light-gray);
}

.menu {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#main-menu {
    display: flex;
    flex-direction: row;
    background: var(--dark-blue);
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding: 0;
}

#main-menu:hover > :first-child {
    background: var(--orange);
}

#main-menu:first-child {
    border: none;
}

#main-menu > li {
    text-transform: uppercase;
}

#main-menu > li > * {
    text-transform: none;
}

.item {
    list-style-type: none;
    box-sizing: border-box;
    border-left: 1px solid var(--gray);
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1em;
    white-space: nowrap;
}

.item:hover {
    background: var(--orange);
}

#sub-menu > ul {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
}

#sub-menu > ul {
    display: none;
    z-index: 1;
    flex-direction: column;
}

#sub-menu:hover > ul {
    display: block;
    position: absolute;
    top: 10.5%;
    left: 23%;
    padding-inline-start: 0;
}

#sub-menu *:hover {
    background: var(--dark-blue);
}

#sub-menu > ul > li {
    background: var(--darker-gray);
    border-bottom: 1px solid var(--gray);
    border-left: none;
    padding: 1em;
    white-space: nowrap;
}

#sub-menu > ul > li:last-child {
    border-bottom: 0;
}

.sub-menu-right > ul {
    display: none;
    margin-left: 77%;
    margin-top: 18%;
}

.sub-menu-left > ul {
    display: none;
    margin-left: -62%;
    margin-top: 18%;
}

#sub-menu > ul > li:hover {
    background: var(--orange);
}

.sub-sub-menu * {
    display: none;
}

li:hover > .sub-sub-menu li {
    background: var(--gray);
    border-bottom: 1px dotted var(--metal);
    border-left: none;
    display: flex;
}

li:hover > .sub-sub-menu li:last-child {
    border-bottom: 0;
}

li:hover > .sub-sub-menu li:hover {
    background: var(--orange);
    display: flex;
}

li:hover > .sub-sub-menu {
    display: block;
    position: absolute;
}

.sub-sub-menu li:hover {
    background: var(--orange);
}

#mega-menu ul {
    display: none;
}

#mega-menu:hover ul {
    display: flex;
}

#blog div, #images div {
    display: none;
}
